In [ ]:
# 미션1: 숫자 리스트의 모든 요소를 제곱한 후 새로운 리스트로 반환하기

In [2]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num **2 for num in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
# 미션2: 학생들의 이름과 점수가 있는 딕셔너리에서, 점수가 70점 이상인 학생들만 출력

In [4]:
students = {'Alice': 85, 'Bob': 67, 'Charlie': 72, 'David': 90}
passed_students = {name: score for name, score in students.items() if score >=70}
print(passed_students)

{'Alice': 85, 'Charlie': 72, 'David': 90}

In [ ]:
# 미션3: 두 숫자의 합을 계산하는 함수를 작성

In [5]:
# TODO: YOUR CODE HERE
def add_numbers(a,b):
    return a+b

result = add_numbers(10, 20)
print(result)

30

In [ ]:
# 미션4: 텍스트 파일을 읽고, 파일의 각 줄을 역순으로 출력하세요.
# 2~3줄의 문장이 들어있는 간단한 sample.txt 파일을 만들어주세요

In [7]:
with open('sample.txt', 'r') as file:
    lines = file.readlines()
    reversed_lines = [line.strip()[::-1]for line in lines]
    for line in reversed_lines:
        print(line)

녕안
워가반
해고라주동신 는나

In [8]:
# 미션5: CSV 파일을 읽고, 'column_name' 열의 평균값을 계산하세요.
# 먼저 data.csv파일을 만드는 코드셀을 실행하세요

In [9]:
import csv

# 데이터 정의
data = [
    ['column_group', 'column_name', 'other_column'],
    ['A', 10, 5],
    ['B', 20, 15],
    ['D', 30, 25],
    ['C', 40, 35],
    ['A', 50, 45],
    ['C', 60, 55],
    ['A', 70, 65],
    ['D', 80, 75],
    ['B', 90, 85],
    ['B', 100, 95]
]

# 파일 쓰기
with open('data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("data.csv 파일이 성공적으로 생성되었습니다.")

data.csv 파일이 성공적으로 생성되었습니다.

In [10]:
import pandas as pd

df = pd.read_csv('data.csv')
average_value = df['column_name'].mean()
print(average_value)

55.0

In [ ]:
# 미션: 데이터 프레임에서 특정 조건('column_name'열 중 50초과)을 만족하는 행만 선택하세요.

In [11]:
filtered_df = df[df['column_name']>50]
print(filtered_df)

  column_group  column_name  other_column
5            C           60            55
6            A           70            65
7            D           80            75
8            B           90            85
9            B          100            95

In [ ]:
# 미션7: 데이터 프레임을 'column_group' 열에 의해 그룹화하고, 그룹별 합계를 계산하세요.

In [14]:
grouped_df = df.groupby('column_group').sum()
print(grouped_df)

              column_name  other_column
column_group
A                     130           115
B                     210           195
C                     100            90
D                     110           100

In [18]:
# 미션: 로또 번호 생성기
# 주제: 1부터 45까지의 숫자 중에서 랜덤으로 6개의 로또 번호를 생성하는 프로그램을 작성하세요.
# 요구사항: 6개의 숫자가 중복되지 않도록 랜덤으로 생성합니다.

In [23]:
import random
def lotto_number():
    number = list(range(1,46))
    lotto_number = random.sample(number, 6)
    return lotto_number
lotto_number2 = lotto_number()
print(lotto_number2)

[39, 34, 13, 25, 37, 3]

In [16]:
# 미션: 숫자 맞추기 게임
# 주제: 컴퓨터가 1에서 100 사이의 랜덤 숫자를 선택하고, 사용자가 이를 맞추는 게임을 만드세요.
# 요구사항: 사용자가 숫자를 입력하면, 컴퓨터가 더 큰지 작은지를 알려주고, 맞출 때까지 반복합니다.

In [ ]:
# 미션: 구구단 출력기
# 주제: 2단부터 9단까지의 구구단을 출력하는 프로그램을 작성하세요.
# 요구사항: 2단부터 9단까지의 곱셈 결과를 출력합니다.