In [1]:
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
import folium

In [2]:
for i in range(6):
    print('../data/bike_rent_{}.csv'.format(i+1))

../data/bike_rent_1.csv
../data/bike_rent_2.csv
../data/bike_rent_3.csv
../data/bike_rent_4.csv
../data/bike_rent_5.csv
../data/bike_rent_6.csv

In [3]:
bikes_temp = {}
for i in range(6):
    bikes_temp[i] = pd.read_csv('../data/bike_rent_{}.csv'.format(i+1), encoding='cp949', parse_dates=['대여일시'])

In [4]:
bikes_temp

{0:             자전거번호                대여일시  대여 대여소번호            대여 대여소명  이용시간  이용거리
 0       SPB-22040 2019-06-03 08:49:00       646  장한평역 1번출구 (국민은행앞)    27  1330
 1       SPB-07446 2019-06-03 08:33:00       526           용답토속공원 앞    54  1180
 2       SPB-20387 2019-06-05 08:27:00       646  장한평역 1번출구 (국민은행앞)    12  1930
 3       SPB-16794 2019-06-05 08:46:00       646  장한평역 1번출구 (국민은행앞)     6  1340
 4       SPB-18266 2019-06-10 08:27:00       529       장한평역 8번 출구 앞     5  1230
 ...           ...                 ...       ...                ...   ...   ...
 399994  SPB-16680 2019-06-28 17:14:00       316         종각역 1번출구 앞    16  2360
 399995  SPB-07874 2019-06-28 16:59:00       345         서울보증보험본사 앞    32  1880
 399996  SPB-21622 2019-06-28 16:44:00       526           용답토속공원 앞    64  6100
 399997  SPB-20056 2019-06-28 17:46:00       453  종로오가 지하쇼핑센터 14번출구     7   880
 399998  SPB-18692 2019-06-28 17:34:00       345         서울보증보험본사 앞    35  1820

 [399999 rows x 6 columns],
 1:             자전거번호                대여일시  대여 대여소번호            대여 대여소명  이용시간  이용거리
 0       SPB-16348 2019-06-28 18:13:00       354         포르투갈 대사관 앞    11     0
 1       SPB-02414 2019-06-28 17:45:00       453  종로오가 지하쇼핑센터 14번출구    63   410
 2       SPB-09816 2019-06-28 17:04:00       345         서울보증보험본사 앞   102  1650
 3       SPB-05601 2019-06-28 18:43:00       358           성대입구 사거리     7  1450
 4       SPB-13401 2019-06-28 19:09:00       320      을지로입구역 4번출구 앞     7  2250
 ...           ...                 ...       ...                ...   ...   ...
 399956  SPB-22522 2019-06-01 17:47:00       726      목동3단지 시내버스정류장    52  2020
 399957  SPB-01434 2019-06-01 17:49:00       735             영도초등학교    65  7990
 399958  SPB-18503 2019-06-01 17:48:00       735             영도초등학교    66  7910
 399959  SPB-19656 2019-06-01 18:55:00       762        오목로 무중력지대 앞    13  2120
 399960  SPB-10785 2019-06-01 19:12:00      1136             등촌2파출소    10  1620

 [399961 rows x 6 columns],
 2:             자전거번호                대여일시  대여 대여소번호          대여 대여소명  이용시간  이용거리
 0       SPB-18282 2019-06-01 21:15:00       764         목동청소년수련관     6     0
 1       SPB-06551 2019-06-01 21:28:00       703      오목교역 7번출구 앞    11  2210
 2       SPB-22632 2019-06-01 21:29:00       704      남부법원검찰청 교차로    10  1870
 3       SPB-08605 2019-06-01 21:38:00       731     서울시 도로환경관리센터    12  1480
 4       SPB-01650 2019-06-01 21:39:00       731     서울시 도로환경관리센터    16  1500
 ...           ...                 ...       ...              ...   ...   ...
 399994  SPB-18675 2019-06-04 07:33:00      1271            송파도서관     4     0
 399995  SPB-14416 2019-06-04 07:31:00      1282  송파소방서 맞은편(성내4교)     9  1680
 399996  SPB-15349 2019-06-04 08:03:00      2614         가락고등학교 앞     9  1460
 399997  SPB-22072 2019-06-04 08:06:00      1244         문정 법조단지8    16  2590
 399998  SPB-06931 2019-06-04 08:15:00      1203        밀리아나2빌딩 앞     9  1340

 [399999 rows x 6 columns],
 3:             자전거번호                대여일시  대여 대여소번호       대여 대여소명  이용시간   이용거리
 0       SPB-15045 2019-06-04 06:45:00      1218      방이역 4번출구   101   4500
 1       SPB-14662 2019-06-04 08:32:00      1227    거여역 8번출구 뒤     9   1900
 2       SPB-18370 2019-06-04 08:34:00      1048     동부기업(둔촌동)    13   4550
 3       SPB-19794 2019-06-04 08:36:00      1243      문정 법조단지7    12   2290
 4       SPB-17904 2019-06-04 08:46:00      2615         테라타워2    13   2150
 ...           ...                 ...       ...           ...   ...    ...
 399947  SPB-06091 2019-06-23 19:31:00      1673      노원역?5번출구    11   1530
 399948  SPB-12632 2019-06-23 19:31:00      1655      공릉1단지아파트    23   4900
 399949  SPB-10323 2019-06-23 18:57:00      1692      온곡초교 교차로    57  12510
 399950  SPB-09319 2019-06-23 19:53:00      1625     상계역(4번출구)     6    880
 399951  SPB-02986 2019-06-23 20:17:00      1720  도봉구청 옆(중랑천변)    13   2640

 [399952 rows x 6 columns],
 4:             자전거번호                대여일시  대여 대여소번호              대여 대여소명  이용시간  \
 0       SPB-15349 2019-06-23 20:52:00      1625            상계역(4번출구)     5
 1       SPB-09319 2019-06-23 20:44:00      1692             온곡초교 교차로    14
 2       SPB-13041 2019-06-23 20:51:00      1619  중계동 하나프라자빌딩 앞(중1-1)    18
 3       SPB-18582 2019-06-23 21:43:00      1674            서울북부고용센터앞    28
 4       SPB-00104 2019-06-23 21:45:00      1674            서울북부고용센터앞    27
 ...           ...                 ...       ...                  ...   ...
 299994  SPB-11479 2019-06-19 16:50:00      2244          교육개발원입구 교차로    22
 299995  SPB-04079 2019-06-19 17:30:00      2206             언남초등학교 앞    12
 299996  SPB-06268 2019-06-19 19:08:00      2202          청계산입구역 1번출구     7
 299997  SPB-07059 2019-06-19 20:30:00      2202          청계산입구역 1번출구     6
 299998  SPB-11233 2019-06-19 20:05:00      2263            바우뫼문화복지회관   109

         이용거리
 0        870
 1       2420
 2       2420
 3       3110
 4       3120
 ...      ...
 299994  5030
 299995  1680
 299996  1480
 299997  1550
 299998  4130

 [299999 rows x 6 columns],
 5:             자전거번호                대여일시  대여 대여소번호      대여 대여소명  이용시간  이용거리
 0       SPB-21524 2019-06-20 08:44:00      2202  청계산입구역 1번출구     8   790
 1       SPB-08966 2019-06-20 18:00:00      2202  청계산입구역 1번출구     5  1470
 2       SPB-09048 2019-06-20 17:56:00      2202  청계산입구역 1번출구     9  1820
 3       SPB-05661 2019-06-20 20:40:00      2202  청계산입구역 1번출구     6  1490
 4       SPB-05353 2019-06-20 20:41:00      2202  청계산입구역 1번출구     8  1480
 ...           ...                 ...       ...          ...   ...   ...
 315717  SPB-22438 2019-06-24 07:40:00       240   문래역 4번출구 앞    13   900
 315718  SPB-24455 2019-06-25 07:34:00       240   문래역 4번출구 앞     6   880
 315719  SPB-24557 2019-06-26 08:19:00       240   문래역 4번출구 앞     7   930
 315720  SPB-00649 2019-06-27 07:38:00       240   문래역 4번출구 앞    11  1030
 315721  SPB-14209 2019-06-28 07:37:00       240   문래역 4번출구 앞     6  1010

 [315722 rows x 6 columns]}

In [5]:
# 일부파일 확인
bikes_temp[5].head()

       자전거번호                대여일시  대여 대여소번호      대여 대여소명  이용시간  이용거리
0  SPB-21524 2019-06-20 08:44:00      2202  청계산입구역 1번출구     8   790
1  SPB-08966 2019-06-20 18:00:00      2202  청계산입구역 1번출구     5  1470
2  SPB-09048 2019-06-20 17:56:00      2202  청계산입구역 1번출구     9  1820
3  SPB-05661 2019-06-20 20:40:00      2202  청계산입구역 1번출구     6  1490
4  SPB-05353 2019-06-20 20:41:00      2202  청계산입구역 1번출구     8  1480

In [6]:
bikes = pd.concat(bikes_temp, axis='index', ignore_index=True)
bikes.head() #앞부분 5개
bikes.tail() #뒷부분 5개

             자전거번호                대여일시  대여 대여소번호     대여 대여소명  이용시간  이용거리
2215627  SPB-22438 2019-06-24 07:40:00       240  문래역 4번출구 앞    13   900
2215628  SPB-24455 2019-06-25 07:34:00       240  문래역 4번출구 앞     6   880
2215629  SPB-24557 2019-06-26 08:19:00       240  문래역 4번출구 앞     7   930
2215630  SPB-00649 2019-06-27 07:38:00       240  문래역 4번출구 앞    11  1030
2215631  SPB-14209 2019-06-28 07:37:00       240  문래역 4번출구 앞     6  1010

In [7]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2215632 entries, 0 to 2215631
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   자전거번호     object
 1   대여일시      datetime64[ns]
 2   대여 대여소번호  int64
 3   대여 대여소명   object
 4   이용시간      int64
 5   이용거리      int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 101.4+ MB

In [8]:
bikes.shape

(2215632, 6)

In [9]:
bikes.columns

Index(['자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '이용시간', '이용거리'], dtype='object')

In [10]:
bikes.describe()

                                대여일시      대여 대여소번호          이용시간          이용거리
count                        2215632  2.215632e+06  2.215632e+06  2.215632e+06
mean   2019-06-16 08:40:01.500303872  1.226154e+03  2.716998e+01  3.912916e+03
min              2019-06-01 00:00:00  3.000000e+00  1.000000e+00  0.000000e+00
25%              2019-06-08 22:04:00  5.050000e+02  8.000000e+00  1.220000e+03
50%              2019-06-16 15:13:00  1.159000e+03  1.700000e+01  2.270000e+03
75%              2019-06-23 20:22:00  1.846000e+03  3.700000e+01  4.670000e+03
max              2019-06-30 23:59:00  9.998000e+03  3.133000e+03  2.323100e+05
std                              NaN  8.499197e+02  2.908119e+01  5.145471e+03

In [11]:
pd.options.display.float_format='{:2f}'.format 
#위에거 정수로 바꾸는방법

In [12]:
bikes.describe()

,대여일시,대여 대여소번호,이용시간,이용거리
count,2215632,2215632.000000,2215632.000000,2215632.000000
mean,2019-06-16 08:40:01.500303872,1226.154183,27.169981,3912.916414
min,2019-06-01 00:00:00,3.000000,1.000000,0.000000
25%,2019-06-08 22:04:00,505.000000,8.000000,1220.000000
50%,2019-06-16 15:13:00,1159.000000,17.000000,2270.000000
75%,2019-06-23 20:22:00,1846.000000,37.000000,4670.000000
max,2019-06-30 23:59:00,9998.000000,3133.000000,232310.000000
std,NaN,849.919678,29.081187,5145.471002

In [13]:
bikes.isnull()

         자전거번호   대여일시  대여 대여소번호  대여 대여소명   이용시간   이용거리
0        False  False     False    False  False  False
1        False  False     False    False  False  False
2        False  False     False    False  False  False
3        False  False     False    False  False  False
4        False  False     False    False  False  False
...        ...    ...       ...      ...    ...    ...
2215627  False  False     False    False  False  False
2215628  False  False     False    False  False  False
2215629  False  False     False    False  False  False
2215630  False  False     False    False  False  False
2215631  False  False     False    False  False  False

[2215632 rows x 6 columns]

In [14]:
bikes.isnull().sum()
#누락 값 더하기 0 이면 누락이 없다.!

자전거번호       0
대여일시        0
대여 대여소번호    0
대여 대여소명     0
이용시간        0
이용거리        0
dtype: int64

In [15]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2215632 entries, 0 to 2215631
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   자전거번호     object
 1   대여일시      datetime64[ns]
 2   대여 대여소번호  int64
 3   대여 대여소명   object
 4   이용시간      int64
 5   이용거리      int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 101.4+ MB

In [16]:
bikes.head()

       자전거번호                대여일시  대여 대여소번호            대여 대여소명  이용시간  이용거리
0  SPB-22040 2019-06-03 08:49:00       646  장한평역 1번출구 (국민은행앞)    27  1330
1  SPB-07446 2019-06-03 08:33:00       526           용답토속공원 앞    54  1180
2  SPB-20387 2019-06-05 08:27:00       646  장한평역 1번출구 (국민은행앞)    12  1930
3  SPB-16794 2019-06-05 08:46:00       646  장한평역 1번출구 (국민은행앞)     6  1340
4  SPB-18266 2019-06-10 08:27:00       529       장한평역 8번 출구 앞     5  1230

In [17]:
bikes['대여일시']

0         2019-06-03 08:49:00
1         2019-06-03 08:33:00
2         2019-06-05 08:27:00
3         2019-06-05 08:46:00
4         2019-06-10 08:27:00
                  ...
2215627   2019-06-24 07:40:00
2215628   2019-06-25 07:34:00
2215629   2019-06-26 08:19:00
2215630   2019-06-27 07:38:00
2215631   2019-06-28 07:37:00
Name: 대여일시, Length: 2215632, dtype: datetime64[ns]

In [18]:
bikes['대여일시'].dt.day

0           3
1           3
2           5
3           5
4          10
           ..
2215627    24
2215628    25
2215629    26
2215630    27
2215631    28
Name: 대여일시, Length: 2215632, dtype: int32

In [19]:
bikes['일자'] = bikes['대여일시'].dt.day
bikes.head(50)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,이용시간,이용거리,일자
0,SPB-22040,2019-06-03 08:49:00,646,장한평역 1번출구 (국민은행앞),27,1330,3
1,SPB-07446,2019-06-03 08:33:00,526,용답토속공원 앞,54,1180,3
2,SPB-20387,2019-06-05 08:27:00,646,장한평역 1번출구 (국민은행앞),12,1930,5
3,SPB-16794,2019-06-05 08:46:00,646,장한평역 1번출구 (국민은행앞),6,1340,5
4,SPB-18266,2019-06-10 08:27:00,529,장한평역 8번 출구 앞,5,1230,10
5,SPB-13926,2019-06-11 08:29:00,646,장한평역 1번출구 (국민은행앞),7,1360,11
6,SPB-14638,2019-06-12 08:29:00,646,장한평역 1번출구 (국민은행앞),5,1340,12
7,SPB-18588,2019-06-17 08:34:00,646,장한평역 1번출구 (국민은행앞),8,1360,17
8,SPB-21148,2019-06-17 08:47:00,646,장한평역 1번출구 (국민은행앞),22,1330,17
9,SPB-24533,2019-06-18 08:36:00,646,장한평역 1번출구 (국민은행앞),6,1230,18
10,SPB-24350,2019-06-18 08:46:00,646,장한평역 1번출구 (국민은행앞),11,1200,18
11,SPB-22669,2019-06-19 08:51:00,646,장한평역 1번출구 (국민은행앞),16,1340,19
12,SPB-16560,2019-06-20 08:36:00,646,장한평역 1번출구 (국민은행앞),6,1370,20
13,SPB-03652,2019-06-21 08:34:00,529,장한평역 8번 출구 앞,6,1260,21
14,SPB-20807,2019-06-21 08:45:00,646,장한평역 1번출구 (국민은행앞),20,1350,21
15,SPB-24732,2019-06-24 08:33:00,646,장한평역 1번출구 (국민은행앞),8,1280,24
16,SPB-22965,2019-06-25 08:45:00,529,장한평역 8번 출구 앞,26,1180,25
17,SPB-21241,2019-06-26 08:32:00,646,장한평역 1번출구 (국민은행앞),7,1160,26
18,SPB-24189,2019-06-27 08:35:00,646,장한평역 1번출구 (국민은행앞),6,1250,27
19,SPB-13936,2019-06-27 08:47:00,529,장한평역 8번 출구 앞,47,1220,27
20,SPB-22897,2019-06-28 08:44:00,646,장한평역 1번출구 (국민은행앞),19,1180,28
21,SPB-20167,2019-06-04 08:24:00,911,은평평화공원(역촌역4번출구),21,5080,4
22,SPB-05360,2019-06-12 11:49:00,420,서울시 공공자전거 상암센터,32,1600,12
23,SPB-23160,2019-06-16 07:27:00,704,남부법원검찰청 교차로,31,6700,16
24,SPB-24696,2019-06-21 08:23:00,911,은평평화공원(역촌역4번출구),32,5740,21
25,SPB-23083,2019-06-24 07:11:00,704,남부법원검찰청 교차로,29,6570,24
26,SPB-17268,2019-06-24 11:20:00,418,월드컵경기장역 3번출구 옆,6,1040,24
27,SPB-23516,2019-06-25 08:32:00,418,월드컵경기장역 3번출구 옆,8,840,25
28,SPB-03623,2019-06-26 08:32:00,418,월드컵경기장역 3번출구 옆,4,910,26
29,SPB-24410,2019-06-19 13:49:00,954,은평뉴타운구파발9단지,5,570,19
30,SPB-24510,2019-06-20 08:01:00,969,은평 지웰테라스,8,1780,20
31,SPB-11658,2019-06-20 10:47:00,942,상림마을 생태공원,8,1400,20
32,SPB-20336,2019-06-29 21:05:00,207,여의나루역 1번출구 앞,48,12560,29
33,SPB-16935,2019-06-29 23:18:00,259,대방역6번출구,7,1590,29
34,SPB-24672,2019-06-29 23:10:00,207,여의나루역 1번출구 앞,54,7940,29
35,SPB-08892,2019-06-01 00:03:00,129,신촌역(2호선) 6번출구 옆,25,3250,1
36,SPB-11921,2019-06-01 00:03:00,129,신촌역(2호선) 6번출구 옆,27,3310,1
37,SPB-16828,2019-06-01 01:29:00,372,약수역 3번출구 뒤,56,16520,1
38,SPB-15002,2019-06-01 03:49:00,151,망원1동주민센터,4,940,1
39,SPB-10340,2019-06-01 06:08:00,103,망원역 2번출구 앞,4,870,1
40,SPB-13118,2019-06-01 09:01:00,152,마포구민체육센터 앞,7,1190,1
41,SPB-15780,2019-06-01 11:28:00,107,신한은행 서교동금융센터점 앞,10,1780,1
42,SPB-07886,2019-06-01 11:21:00,182,망원2빗물펌프장 앞,43,1630,1
43,SPB-22571,2019-06-01 10:59:00,101,(구)합정동 주민센터,95,380,1
44,SPB-01121,2019-06-01 13:02:00,107,신한은행 서교동금융센터점 앞,48,2500,1
45,SPB-20049,2019-06-01 13:52:00,3106,홍남교 두바퀴쉼터,25,6010,1
46,SPB-22571,2019-06-01 12:38:00,101,(구)합정동 주민센터,106,1540,1
47,SPB-06919,2019-06-01 14:35:00,102,망원역 1번출구 앞,57,1720,1
48,SPB-05466,2019-06-01 16:06:00,104,합정역 1번출구 앞,10,1440,1
49,SPB-22571,2019-06-01 14:29:00,101,(구)합정동 주민센터,110,480,1

In [20]:
bikes['대여시간대'] = bikes['대여일시'].dt.hour
bikes.head(10)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,이용시간,이용거리,일자,대여시간대
0,SPB-22040,2019-06-03 08:49:00,646,장한평역 1번출구 (국민은행앞),27,1330,3,8
1,SPB-07446,2019-06-03 08:33:00,526,용답토속공원 앞,54,1180,3,8
2,SPB-20387,2019-06-05 08:27:00,646,장한평역 1번출구 (국민은행앞),12,1930,5,8
3,SPB-16794,2019-06-05 08:46:00,646,장한평역 1번출구 (국민은행앞),6,1340,5,8
4,SPB-18266,2019-06-10 08:27:00,529,장한평역 8번 출구 앞,5,1230,10,8
5,SPB-13926,2019-06-11 08:29:00,646,장한평역 1번출구 (국민은행앞),7,1360,11,8
6,SPB-14638,2019-06-12 08:29:00,646,장한평역 1번출구 (국민은행앞),5,1340,12,8
7,SPB-18588,2019-06-17 08:34:00,646,장한평역 1번출구 (국민은행앞),8,1360,17,8
8,SPB-21148,2019-06-17 08:47:00,646,장한평역 1번출구 (국민은행앞),22,1330,17,8
9,SPB-24533,2019-06-18 08:36:00,646,장한평역 1번출구 (국민은행앞),6,1230,18,8

In [21]:
bikes['대여일시'].dt.dayofweek

0          0
1          0
2          2
3          2
4          0
          ..
2215627    0
2215628    1
2215629    2
2215630    3
2215631    4
Name: 대여일시, Length: 2215632, dtype: int32

In [22]:
# 요일추가를 람다 활용하기
요일= ["월", "화", "수", "목", "금", "토", "일"]

bikes['요일'] = bikes['대여일시'].dt.dayofweek.apply(lambda x : 요일[x])
bikes

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,이용시간,이용거리,일자,대여시간대,요일
0,SPB-22040,2019-06-03 08:49:00,646,장한평역 1번출구 (국민은행앞),27,1330,3,8,월
1,SPB-07446,2019-06-03 08:33:00,526,용답토속공원 앞,54,1180,3,8,월
2,SPB-20387,2019-06-05 08:27:00,646,장한평역 1번출구 (국민은행앞),12,1930,5,8,수
3,SPB-16794,2019-06-05 08:46:00,646,장한평역 1번출구 (국민은행앞),6,1340,5,8,수
4,SPB-18266,2019-06-10 08:27:00,529,장한평역 8번 출구 앞,5,1230,10,8,월
...,...,...,...,...,...,...,...,...,...
2215627,SPB-22438,2019-06-24 07:40:00,240,문래역 4번출구 앞,13,900,24,7,월
2215628,SPB-24455,2019-06-25 07:34:00,240,문래역 4번출구 앞,6,880,25,7,화
2215629,SPB-24557,2019-06-26 08:19:00,240,문래역 4번출구 앞,7,930,26,8,수
2215630,SPB-00649,2019-06-27 07:38:00,240,문래역 4번출구 앞,11,1030,27,7,목
2215631,SPB-14209,2019-06-28 07:37:00,240,문래역 4번출구 앞,6,1010,28,7,금

In [23]:
bikes['주말구분'] = bikes['대여일시'].dt.dayofweek.apply(lambda x : '평일' if x <5 else "주말")
bikes.head(2)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,이용시간,이용거리,일자,대여시간대,요일,주말구분
0,SPB-22040,2019-06-03 08:49:00,646,장한평역 1번출구 (국민은행앞),27,1330,3,8,월,평일
1,SPB-07446,2019-06-03 08:33:00,526,용답토속공원 앞,54,1180,3,8,월,평일

In [24]:

#bikes['이용시간'] = bikes['이용시간'].dt.dayofweek.apply(lambda x : x/60)
#bikes

In [25]:
# 대여소점 파일 프레임화 하기

bike_shop = pd.read_csv('../data/bike_shop.csv', encoding='cp949')

In [26]:
bike_shop.head()

    구분  대여소번호              대여소명        위도         경도  거치대수
0  마포구    101  101. (구)합정동 주민센터 37.549561 126.905754     5
1  마포구    102   102. 망원역 1번출구 앞 37.556000 126.910454    20
2  마포구    103   103. 망원역 2번출구 앞 37.554951 126.910835    14
3  마포구    104   104. 합정역 1번출구 앞 37.550629 126.914986    13
4  마포구    105   105. 합정역 5번출구 앞 37.550007 126.914825     5

In [27]:
bike_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1537 entries, 0 to 1536
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      1537 non-null   object
 1   대여소번호   1537 non-null   int64
 2   대여소명    1537 non-null   object
 3   위도      1537 non-null   float64
 4   경도      1537 non-null   float64
 5   거치대수    1537 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 72.2+ KB

In [28]:
bike_gu = bike_shop[['구분','대여소번호','위도','경도']]
bike_gu.head()

    구분  대여소번호        위도         경도
0  마포구    101 37.549561 126.905754
1  마포구    102 37.556000 126.910454
2  마포구    103 37.554951 126.910835
3  마포구    104 37.550629 126.914986
4  마포구    105 37.550007 126.914825

:

In [29]:
bikes = pd.merge(bikes,bike_gu, left_on='대여 대여소번호', right_on='대여소번호')
bikes.head()

In [ ]:
bikes.drop(['대여소번호'], axis='columns', inplace=True)

In [ ]:
bikes.head(2)

In [ ]:
bikes.rename(columns={'구분':'대여구','위도':'대여점위도','경도':'대여점경도'}, inplace=True)
bikes.head()

In [ ]:
bikes.isnull().sum()

In [ ]:
bikes.head(2)

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
 
#폰트 경로
font_path = "/usr/share/fonts/truetype/NanumFont/NanumGothicBold.ttf"
 
#폰트 이름 얻어오기
font_name = fm.FontProperties(fname=font_path).get_name()
 
plt.rcParams["font.family"] = font_name
plt.rcParams["font.size"] = 15

In [ ]:
# 일자별 따릉이 이용건수
plt.figure(figsize=(15,4))
sns.countplot(x='일자', data=bikes);

In [ ]:
#요일별 따릉이 이용건수
plt.figure(figsize=(6,4))
sns.countplot(x='요일', data=bikes);

In [ ]:
#대여시간
plt.figure(figsize=(15,4))
sns.countplot(x='대여시간대', data=bikes);

In [ ]:
# 두가지 요인을 위해 피봇 테이블 생성
bikes.pivot_table(index='대여시간대', columns='요일', values='자전거번호', aggfunc='count')

In [ ]:
hourly_dayofweek_ride = bikes.pivot_table(index='대여시간대', columns='요일', values='자전거번호', aggfunc='count')
hourly_dayofweek_ride.head()

In [ ]:
hourly_dayofweek_ride.plot(kind='line', title='대여시간대 X 요일이용건수', figsize=(15,4));

In [ ]:
hourly_dayofweek_ride.plot(kind='bar', title='대여시간대 X 요일이용건수', figsize=(15,4), rot=0);

In [ ]:
# countplot 으로 막대그래프

plt.figure(figsize=(18,4))
sns.countplot(x='대여시간대', hue='요일', data=bikes);

In [ ]:
# 히트맵 
plt.figure(figsize=(10,8))
sns.heatmap(data=hourly_dayofweek_ride, annot=True, fmt='d');

In [ ]:
# 주말 구분이 들어간 피봇 테이블
weekdays_hourly_ride = bikes.pivot_table(index='대여시간대', columns='주말구분', values='자전거번호', aggfunc='count')
weekdays_hourly_ride.head()

In [ ]:
# 주말부분 (선)
weekdays_hourly_ride.plot(kind='line', title='대여시간대 X 요일이용건수', figsize=(15,4));

In [ ]:
#주말부분 (막대)
weekdays_hourly_ride.plot(kind='bar', title='대여시간대 X 요일이용건수', figsize=(15,4));

In [ ]:
#주말부분 (히트맵)
plt.figure(figsize=(10,8))
sns.heatmap(data=weekdays_hourly_ride, annot=True, fmt='d');

In [ ]:
# 장소에 따른 시각화

# 1단계 데이터 모델링
bikes.pivot_table(index='대여구', values='자전거번호', aggfunc='count')

In [ ]:
구별자전거이용건수 = bikes.pivot_table(index='대여구', values='자전거번호', aggfunc='count')
구별자전거이용건수

In [ ]:
# 오름차순
구별자전거이용건수.sort_values(by='자전거번호', ascending=True, inplace=True)
구별자전거이용건수

In [ ]:
# bar < h 를 넣을시 가로bar 생성이 된다.
구별자전거이용건수.plot(kind='barh', title='대여구별 자전거 이용건수', figsize=(15,8));

In [ ]:
구별자전거이용건수.reset_index(inplace=True)
구별자전거이용건수.head(2)

In [ ]:
# 서울시 지도 파일을 가져온다.
import json

with open('../data/seoul.json', 'r', encoding='utf-8') as f:
    서울시지도 = json.load(f)

서울시지도

In [ ]:
bikes.head(1)

In [ ]:
# 위도 경도 
lat = bikes['대여점위도'].mean()
lon = bikes['대여점경도'].mean()

lat, lon

In [ ]:
center = [lat, lon]

map1 = folium.Map(location=center, zoom_start=11)
map1

In [ ]:
folium.Choropleth(geo_data=서울시지도, data=구별자전거이용건수, columns=['대여구','자전거번호'], fill_color='YlGnBu', key_on='feature.properties.name').add_to(map1)
map1

In [ ]:
# 대여구별 이용시간 평균

구별이용시간평균 = bikes.pivot_table(index='대여구', values='이용시간', aggfunc='mean')
구별이용시간평균

In [ ]:
# 오름차순으로 정렬
구별이용시간평균.sort_values(by='이용시간', ascending=True, inplace=True)
구별이용시간평균

In [ ]:
구별이용시간평균.plot(kind='barh', title='구별이용시간평균', figsize=(15,8), color='g');

In [ ]:
# 인덱스를 리셋한다.
구별이용시간평균.reset_index(inplace=True)
구별이용시간평균

In [ ]:
map2 = folium.Map(location=center, zoom_start=11)
map2

In [ ]:
folium.Choropleth(geo_data=서울시지도, data=구별이용시간평균, columns=['대여구','이용시간'], fill_color='YlGnBu', key_on='feature.properties.name').add_to(map2)
map2

In [ ]:
#시간적 X 장소적

daily_gu_use = bikes.pivot_table(index='일자', columns='대여구', values='자전거번호', aggfunc='count')
daily_gu_use

In [ ]:
# 히트맵
#sns.heatmap(daily_gu_use.T); 여기의 T는 X 축과 Y축을 바꿔준다고 생각하면 된다.
plt.figure(figsize=(10,8))
sns.heatmap(daily_gu_use.T);

In [ ]:
# 박스 그래프
plt.figure(figsize=(25,8))
sns.boxplot(data=daily_gu_use);
plt.xticks(rotation=90);

In [ ]:
# 대여시간대 x 이용건수
hourly_gu_use = bikes.pivot_table(index='대여시간대',columns='대여구', values='자전거번호', aggfunc='count')
hourly_gu_use

In [ ]:
plt.figure(figsize=(10,8))
sns.heatmap(data=hourly_gu_use.T);

In [ ]:
plt.figure(figsize=(25,8))
sns.boxplot(data=hourly_gu_use);

In [ ]:
bikes.head(1)

In [ ]:
bikes.pivot_table(index=['대여 대여소명','대여점위도','대여점경도'], columns='주말구분', values='자전거번호', aggfunc='count')

In [ ]:
rent_bikes = bikes.pivot_table(index=['대여 대여소명','대여점위도','대여점경도'], columns='주말구분', values='자전거번호', aggfunc='count')
rent_bikes.head(5)

In [ ]:
rent_bikes.nlargest(50,'주말')['주말']

In [ ]:
주말대여점50 = rent_bikes.nlargest(50,'주말')['주말'].reset_index()
주말대여점50

In [ ]:
rent_bikes.nlargest(50,'평일')['평일'].reset_index()
평일대여점50 = rent_bikes.nlargest(50,'평일')['평일'].reset_index()
평일대여점50

In [ ]:
#top 50 지도의 가운데 지점을 중심으로 초기 map 그리기

lat = 주말대여점50['대여점위도'].mean()
lon = 주말대여점50['대여점경도'].mean()

center1 = [lat, lon]

map3 = folium.Map(location=center1, zoom_start=12)
map3

In [ ]:
주말대여점50.head(1)

In [ ]:
# 50개 주말 대여점을 지도에 표기한다.

for i in 주말대여점50.index:
    
    sub_lat = 주말대여점50.loc[i,'대여점위도']
    sub_lon = 주말대여점50.loc[i,'대여점경도']
    대여점위치 = [sub_lat, sub_lon]
    대여점명 = 주말대여점50.loc[i,'대여 대여소명']

    folium.Marker(location=대여점위치, popup=대여점명.add_to(map3))
map3